body {
  background-color: #EEE;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-width: 800px;
  margin: 0 auto;  
}

#content{
  background-color: #3782cd;
  position: relative;
  top: 96px;
  left: 15%;
  width: 70%;
  height: 440px;
  border-radius: 20px;
}

li{
  list-style: none;
  display: inline;
  width: 100%;
  margin: 0 0.7%;
}

li a{
  position: relative;
  top: -33px;
  width: 100%;
  padding: 4px 20px;
  text-align: right;
  left: 72%;
  font-size: 16px;
  text-decoration: none;
  color: #99A;
  border-radius: 24px;
  transition: color,background-color 0.2s ease 0;
}

li a:hover{
  background-color: #3782cd;
  text-decoration: none;
  border-radius: 24px;
  color: #FFF;
}

#yapco{
  position: absolute;
  width: 70%;
  top: -40px;
  left: 7%;
}

#yapco a{
  transition: opacity 0.3s
}

#yapco a:hover{
  opacity:0.7
}

footer {
  position: absolute;
  text-align: center;
  color: #99A;
  top: 450px;
  left: 0;
  width: 100%;
  font-size: 16px;
}

.twitter,.github{
  color: #99A;
  font-size: 18px;
}